@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


html,body{
    line-height:1.4;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}



.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_green{
    background-color: #1b5e20;
    color: #ffffff;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}

.nav_green p{
        padding-top: 10px;
}



.logo_mongo img{
        width: 150px;
        height: 50px;
}

.icon .fa-solid{
        font-size: 3.5ch;
      
        padding-right: 2rem;
        
}

.section{
    width: 100%;
    background-color: #e9e6e6;
    height: 90px;
    


}

.nav-selection ul{
        
        display: flex;
     
        
       

}

.nav-selection li{
    
    list-style-type: none;
    padding: 1ch 2ch;
   
   

}

li a{
    text-decoration: none;
    color: #6b6a6a;
    font-weight: 800;
    
   
}

a:hover{
    color: #08af31;
}


.bar {
    display: flex;
    /* margin-left: 90ch; */
}

.bar, .search, .text, .btn{
        padding: 1ch;
      
}


.nav-2{
    margin-right: 10rem;
}


.search{
    font-size: 3ch;
    color: #000;
    /* background: #000; */
}

.text{
    font-size: 1.4rem;
    font-weight: bold;
}


.btn button{
    width: 110px;
    height: 50px;
    background: #02fa17;
    font-weight: 700;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s;
}

.btn button:hover{
    background: #02fa17;
    border-radius: 2rem;
}

.text:hover{
    color: #02fa17;
    cursor: pointer;
}


/* text_section */


.text-first {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;



}
.text_text{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.story{
    background-color: #1b5e20;
    padding: 10px 20px;
    color: #ffff;
    align-self: flex-start;
}

.text_text h1{
        font-size: 8ch;
        line-height: 1.2;
        font-weight: 400;
}

.df{
    display: flex;
 
}

.text1{
    padding-top: 2ch;
    padding-left: 2ch;
}




.btn2 button{
    width: 110px;
    height: 50px;
    background: #02fa17;
    font-weight: 700;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s;
    
}

.btn2 button:hover{
    background: #02fa17;
    border-radius: 2rem;
}

.text1:hover{
    color: #02fa17;
    cursor: pointer;
}


.text_image{
    padding-top: 10ch;
    padding-left: 1rem;
}  


/* postive */

.postive{
    margin-top: 2rem;
  display: flex;
  gap: 20px;
}

.gap{
    display: flex;
    gap: 20px;
}


.number a:hover{
    text-decoration: none;
    cursor: pointer;
}


/* border */


.border{
    display: flex;
    background: #ebebeb;   
    width: 900px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 6px 7px 6px grey;
    gap: 100px;
  
     
}


.right{
    padding-left: 50ch;
    align-items: center;
    padding-top: 5rem;

}

.green_image img{
    width: 300px;
    height: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 6px 7px 6px grey;
}

.bars{
    padding-left: 5ch;
    padding-top: 2rem;
}


.btn-text button{
    width: 110px;
    height: 50px;
    background: #000000;
    font-weight: 700;
    border-radius: 6px;
    color: #ffff;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s;
}

.btn-text button:hover{
    background: #000000;
    border-radius: 2rem;
}


/* blue */

.blue{
    display: flex;
    margin-top: 5rem;
    background: #0f0227;
    width: 100%;
    height: 95vh;
    color: #ffffff;
    padding-top: 10rem;
    padding-left: 5rem;
    border-radius: 0px;
    
}

.text-built{
    font-size: 1.7rem;
    right: 100rem;
   
}

.blue_image img{
    padding-left: 2.5rem;
    border-radius: 40px;
}




/* card */

.first{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin-right: 40px; */
    background: #0f0227;
    height: 40vh;
}
.last{

    /* margin-top: 50px;
    margin-right: 1px; */
    display:flex;

}



.sque{

    margin: 20px;
    width: 450px;
    height: 300px;
   border-radius: 20px;
    background-color:  #0f0227;
    border: 3px solid grey;
    
   text-align: left;
   
   transition: 0.5s;  
   color: #fff; 

}

.opener{
    margin-left: 20px;
} 



.photo1 img{
   
    margin-top: 2rem;
   
    
    
}



.sque:hover{
   
    background-color:  #060211;
    cursor: pointer;
}

.me:hover{
    color: #02fa17;
    cursor: pointer;
}



/* nav bor  */




.bor-blue{
    position: relative;
    display: flex;
    margin-top: 4rem;
    background: #0f0227;
    width: 100%;
    height: 95vh;
    color: #ffffff;
    top: -70px;
    padding-top: 10rem;
    padding-left: 5rem;
    border-radius: 0px;
}




.alts{
    font-size: 2.5ch;
    
}


.click-btn{
    
        display: flex;
}

.hover-df{
    display: flex;
}

.hover-color button{
    padding: 15px 30px; 
    color: #ffffff;
    background: #3421e2;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    font-weight: 800;

}


.hover-color button:hover{
    background: #2512ce;
}

.hover-btn button{
        padding: 15px 30px; 
        color: #ffffff;
        background: none;
        border-radius: 30px;
        border: 2px solid #ffffff;
        transition: 0.1s;
        font-weight: 800;
        margin-left: 2ch;
        cursor: pointer;
    }


.hover-btn button:hover{
            border: 2px solid #3421e2;
    }

.btnq button{
    padding: 15px 30px;
    margin-top: 1.1rem;
    background: #02fa17;
    transition: 0.2s;
    cursor: pointer;
}

.btnq button:hover{
    background: #02fa17;
    border-radius: 2rem;
}

.text-doc {
    margin-top: 1.6rem;
    margin-left: 2ch;
    cursor: pointer;

}

.text-doc :hover{
    
    color: #02fa17;
}


.db img{
    
    
 padding-left: 20rem;
    
    
}

/* marquee */


.maq, h1 h3{
    
    padding-left: 10rem;
    font-size: 2.5ch;

}

/* copy right */

/* :root{
    --body-bg: #fffaee;
    --item-bg: #ffff;

}



.partiners{
    padding: 64px 0;

}

.section-title{
    text-align: center;
    margin-bottom: 1.5rem;
}

.logo-sildebar{
    overflow-x:hidden;

}


.overflow{
    display: flex;
    padding:.5rem 3rem;
    overflow:hidden;

}

.logo-wapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: logoLoop 30s linear infinite;
}

.logo-item{
    margin-left: 1rem;
    padding: 1rem;
    aspect-ratio: 30/9;
    background: var(--item-bg);
    display: grid;
    place-items: center;
    border-radius: 1rem;

}

.logo-item img{
    height: 5.5rem;
    margin-inline: 2rem;

}

@keyframes LogoLoop {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
} */



/* .logo-item img{
    height: 5.5rem;
    margin-inline: 2rem;

}


:root{
    --color-text:#000;
    --colog-bg:#000;
    --color-bg-accent:#FFE018;
    --size:clamp(10rem, 1rem + 40vmin, 30rem);
    --gap:calc(var(--size) / 14);
    --duration:60s;
    --scroll-start:0;
    --scroll-end:calc(-100% - var(--gap));
  }
  

  .marquee{
    display: flex;
    overflow: hidden;
    user-select: none;
    gap:var(--gap);
  }
  .marquee_group{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }
  .marquee-reverse .marquee_group{
    animation-direction: reverse;
    animation-delay: -3s;
  }
  @keyframes scroll-x{
    from{transform: translateX(var(--scroll-start));}
    to{transform: translateX(var(--scroll-end));}
  }
  .fa{font-size: 70px!important}
  .marquee .fa{
    display: grid;
    place-items:center;
    width: var(--size);
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio:19/9;
    padding: calc(var(--size) / 10);
    border-radius: 0.5rem;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    gap:var(--gap);
    margin: auto;
    max-width: 100vw;
  } */




/* choose path */

.choose{
    padding-left: 15rem;
    font-size: 4rem;
}

.text-start{
    padding-left: 10rem;
    display: flex;
    padding-bottom: 2rem;

}


.boxel{
    display: flex;
    background: #080808;
    border-radius: 2rem;
    width: 900px;
    height: 350px;
    color: #fff;
    padding-left: 50px;
    padding-top: 5rem;
    
}

.yellow img{
    width: 350px;
    height: 250px;

}

.while{
  margin-left: 5ch;
  
    width: 400px;
    height: 350px;
    background: #ffffff;
    padding-left: 2rem;
    padding-top: 3rem;
    border-radius: 2rem;
    border: 2px solid black;
}


.btnx button{
    padding: 10px 30px;
    margin-top: 1.1rem;
    background: #02fa17;
    transition: 0.2s;
    border-radius: 5px;
    cursor: pointer;
}

.btnx button:hover{
    background: #02fa17;
    border-radius: 2rem;
}




/* footer */

.logoinfo img{
    width: 200px;
    background: #878a87;
    
}

.logoinfo select{
    width: 150px;
    height: 40px;
    background-color: #0a3a15;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #0f0f0f;
    border-radius: 10px;
}

.logoinfo select:hover{
    border: 2px solid #ffffff;
    background: #044413;
}



.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #19302E;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration:none;
}

footer {
  background-color: #19302E;
  border-top: 1px solid #6EB981;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}




.logoinfo p {
  color: #6EB981;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration:none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos{
  padding:20px 0;
}

.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}

.com ul li{
  padding:5px 0;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
    .info{
      padding:20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .com{
    padding:20px 0;
  } 

}









/* media query */


@media (max-width:1500px){
    .right{
        margin-left: -15rem;
    }

    .last{      
        display:flex;
    
    }
    
     /* card */
    
    .sque{
        margin-right: -400rem;
        margin: 10px;
        width: 160px;
        height: 140px;
        font-size: 5px;
       border-radius: 20px;
        background-color:  #0f0227;
        border: 2px solid grey;
        
       text-align: left;
       
       transition: 0.5s; 
       color: #fff; 
    
    }


    .photo1 img{
   
        margin-top: 2rem;
       width: 20%;
        
        
    }

    .blue{
        
        background: #0f0227;
        width: 100%;
        height: 30vh;
       
        
    }   

    .first{
    
        background: #0f0227;
        height: 110vh;
        margin-top: 0rem;
    }

    
}



@media (max-width:375px){

    /* choose path */
    
    .choose{
        padding-left: 10rem;
        font-size: 1rem;
    }
    
    .ph img{
        display: none;
    }




}



@media (min-width:376px) and (max-width:1024px){
        
    /* card */

        .first{
    
            background: #0f0227;
            height: 60vh;
            margin-top: 0rem;
        }

        .sque{
            margin-right: -400rem;
            margin: 10px;
            width: 140px;
            height: 140px;
            font-size: 5px;
           border-radius: 20px;
            background-color:  #0f0227;
            border: 2px solid grey;
            
           text-align: left;
           
           transition: 0.5s; 
           color: #fff; 
        
        }

        .choose{
            padding-left: 10rem;
            font-size: 1rem;
        }

     
    

        /* nav bor  */




        .bor-blue{
            position: relative;
            display: flex;
            margin-top: 4rem;
            background: #0f0227;
            width: 100%;
            height: 100vh;
            color: #ffffff;
            top: -70px;
            padding-top: 10rem;
            padding-left: 5rem;
            border-radius: 0px;
        }

        .db img{
    
    
           margin-top: 2rem;
               
               
           }


         

           
           
}



@media (max-width:1024px){
    .nav-selection{
            display: none;

    }
    

    .icon .fa-solid{
        font-size: 2ch;
        display: block;
    }   
    .btn button{
        display: none;
    } 
    .text {
        display: none;
    }  

    .text_image{
        display: none;
    }

    .gap{
        flex-direction: column; 
     } 
     .search {
           display: none;
     }

     .right{
        padding-left: 50ch;
    }

    .border{
        display: flex;
        background: #cccbcb;   
        width: 500px;
        height: 700px;
        border-radius: 50px;
        box-shadow: 6px 7px 6px grey;
        gap: 100px;
        flex-direction: column;
        margin-left: 10rem;
         
    }
    .green_image img{
        width: 500px;
        height: 360px;
        border-radius: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        margin-right: 4rem;
    }
    
    /* choose path */

   

   
   
    
   




  
}


@media (max-width:1085px){
   
    .text-start{
        padding-left: 10rem;
        flex-direction: column;
    
        }  
        
        /* choose path */

        .yellow img{
            display: none;
        
        }

        .boxel{
            display: flex;
           
            border-radius: 2rem;
            width: 400px;
            height: 350px;
            color: #fff;
            padding-left: 50px;
            padding-top: 5rem;
            
        }

        .text-start{
            padding-left: 10rem;
            
            display: flex;
        
        }


        .while{
            margin-left: 1ch;
            margin-top: 4rem;
              width: 400px;
              height: 350px;
           
              padding-left: 2rem;
              padding-top: 3rem;
              

          }


}

@media (min-width:1024px){
    .icon .fa-solid{
        font-size: 5ch;
       display: none;
    
    }
    


}


@media (max-width:768px){
    .df{
        flex-direction: column;
    }
    
    .btn2 button{
        width: 270px;
        height: 60px;
    }
    
    .text1{
        text-align: center;
    }
    
    
    .postive .number{
       
        margin-left: 2rem;
    }

    .right{
        margin-left: -15rem;
    }

    .border{
        display: flex;
        background: #cccbcb;   
        width: 400px;
        height: 700px;
        border-radius: 50px;
        box-shadow: 6px 7px 6px grey;
        gap: 100px;
        flex-direction: column;
      
         
    }
    .green_image img{
        width: 300px;
        height: 300px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        /* margin-left: 5rem; */
    }
    .border{
        display: flex;
        background: #cccbcb;   
        width: 400px;
        height: 700px;
        border-radius: 50px;
        box-shadow: 6px 7px 6px grey;
        gap: 100px;
        flex-direction: column;
        
         
    }
    .green_image img{
        width: 400px;
        height: 360px;
        border-radius: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        margin-right: 4rem;
    }

    .right{
        padding-left: 40ch;
    }

    .blue{
        flex-direction: column;
        

    }
    .blue_image img{
        display: none;
    }

    /* card */

    .last{

        flex-direction: column;
        display:flex;
    
    }


    /* nav bor */
    
    .bor-blue{
        font-size: 1ch;
        flex-direction: column;
    }



    
    

        
}


@media (max-width:667px){
.nav_green{
        height: 60px; 
}

.text_text{
    margin-top: 5rem;
    font-size: 12px;
}

.border{
    display: flex;
    background: #cccbcb;   
    width: 350px;
    height: 700px;
    border-radius: 50px;
    box-shadow: 6px 7px 6px grey;
    gap: 100px;
    flex-direction: column;
  
     
}
.green_image img{
    width: 350px;
    height: 360px;
    border-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    margin-right: 4rem;
}

.text-built{
    font-size: 10px;
    
}

/* Choose your path */


.text-start{
    padding-left: 2rem;
    display: flex;

}



.boxel{
    display: flex;
   
    border-radius: 2rem;
    width: 310px;
    height: 350px;
    color: #fff;
    padding-left: 50px;
    padding-top: 5rem;
    
}

.while{
    margin-left: 1ch;
    margin-top: 4rem;
      width: 300px;
      height: 350px;
   
      padding-left: 2rem;
      padding-top: 3rem;
      

  }

}





@media (max-width:425px){

    .border{
        display: flex;
        background: #cccbcb;   
        width: 245px;
        height: 600px;
        border-radius: 50px;
        box-shadow: 6px 7px 6px grey;
        gap: 100px;
        flex-direction: column;
        margin-right: -15rem;
      
         
    }

    .green_image img{
        width: 235px;
        height: 140px;
        border-radius: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        margin-right: 4rem;
    }
    .right{
        margin-left: 10rem;
    }


    /* bor-blue */

    .click-btn{
        flex-direction: column;

    }

    .text-doc{
        padding-right: -30rem;
    }

    .click-btn button{
        padding: 20px 70px;
    }

}





    

@media (max-width:367px){
    .nav_green{
            height: 75px; 
    }

    .border{
        display: flex;
        background: #cccbcb;   
        width: 230px;
        height: 590px;
        border-radius: 50px;
        box-shadow: 6px 7px 6px grey;
        gap: 100px;
        flex-direction: column;
      
         
    }
    .green_image img{
        width: 230px;
        height: 100px;
        border-radius: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        margin-right: 4rem;
    } 

 




}

@media (max-width:1280px){
       .text_text{
        padding-left: 3rem;
       }
      .text_image img{
        width: 80%;
      } 

      .right{
        margin-left: -28rem;
    }

    .blue_image img{
        width: 100%;
        height: 300px;
    }

    
/* nav bor  */

    .db img{
    
    
        padding-left: 0rem;
         width: 60%;
           
       }

       
       
    

}

